body {
	border:0; margin:0; padding:0;
}

dl {
	display: block;
	margin: 1em;
}
dt {
    font-weight: bold;
	text-decoration: underline;
	margin-bottom: .25em;
}
dd {
    margin: 0;
    padding: 0 0 .5em 0;
}

h1 {
	text-align: center;
	color: midnightblue;
}

